$primary-color:#1B2342;
$secondary-color:#141936;
$warning-color: #3A57FC;
$font-color: #CED4EC;

body {
    background-color: $primary-color;
}

.idea-list {
    padding: 3.5rem;
    font-family: $main-font;
    color: $font-color;
    background-color: $primary-color;
}

.idea-list__title {
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 100;
}

.idea-list__nav {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    background-color: $secondary-color;

    .nav-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .nav-link {
        display: block;
        padding: 1.5rem 2.5rem;
        border-radius: 10rem;
        font-size: 1.6rem;
        transition: background-color .4s ease;

        &:hover {
            background-color: $primary-color;
        }

        &--active {
            background-color: $warning-color;
        }
    }
}

.idea-list__container {
    margin-bottom: 5rem;
}

.idea {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.3rem 2rem;
    margin-bottom: 1rem;
    border-radius: 10rem;
    font-size: 1.6rem;
    background-color: $secondary-color;
    cursor: pointer;
    transition: box-shadow .2s;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
}

.add-new-idea-btn {
    display: flex;
    align-items: center;
    padding: 1.6rem 5rem;
    border: none;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 1.6rem;
    background-color: $warning-color;
    color: $font-color;
    transition: background-color .3s;

    &:hover {
        background-color: lighten($color: $warning-color, $amount: 3);
    }

    .icon {
        height: 24px;
        margin-right: 1rem;
    }
}